:root {
    --primary-color:#434657;
    --secondary-color:#82869E;
}
:root {
    --title-color:#1B1D29;
    --white-color: #fff;
    --placeholder-color: #A7ABC3;
    --main-color:#7B1C21;
}






/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    box-sizing: border-box;
    font-size: 62.5%;
    line-height: 1.6rem;

}
/* Common CSS */
.grid {
    width: 1232px;
    max-width: 100%;
    /* margin-left: 104px; */
    margin: 0 auto;
}
.row {
    margin-left: -20px;
    margin-right: -20px;
    display: flex;
    flex: wrap;
}
.row-child {
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
    flex: wrap;
}
.col-8 {
    padding-left: 20px;
    padding-right: 20px;
    width: 67.3%;
}
.col-12 {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}
.col-6 {
    padding-left: 8px;
    padding-right: 8px;
    width: 50%;
}
.col-4 {
    padding-left: 20px;
    padding-right: 20px;
    width: 32.7%;
}

/* #main {
    width: 1440px;
    background-color: #fff;
    
    

} */
.font-caption2 {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 16px;
    color: #434657;
}
.font-body2 {

    font-weight: 700;
    font-size: 1.5rem;
    line-height: 20px;
    color: #1B1D29;
}
/* Header CSS */
#header {
    height: 112px;
    background-color: #fff;
}
.header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header-first-part {
    width: 456px;
    height: 64px;
    display: flex;
    align-items: center;
    margin: 24px auto 24px 0;
}

.header-title-body {
    width: 382px;
    height: 58px;
    margin-left: 10px;

}

.header-title-webname {
    color: var(--title-color);
}
.header-second-part {
    display: flex;
    /* align-items: center; */
    width: 560px;
    height: 40px;
    /* margin-right: -100px; */
    margin-top: 36px;
    
}
.header-search-icon {
    width: 9.67px;
    height: 9.67px;
    margin-top: 30px;
    margin-left: 10px;
}

.header-search-text {
    border-style: none;
    height: 20px;
    width: 348px;
    border: 4px;
    margin-top: 10px;
}

.header-search-box {
    border: 1px solid #E4E5F0;
    border-radius: 4px;
}
.header-language {
    width: 136px;
    height: 40px;
    margin-left: 24px;
    position: relative;
    display: flex;
    align-items: center;
}
.header-country-icon {
}
.header-language-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    width: 69px;
    height: 20px;
    color: var(--primary-color);
    align-items: center;
    margin-left: 8px;
    margin-right: 8px;
}
.header-expand-icon {
    font-size: 0.933rem;
}
#navbar-container {
    height: 64px;
    background-color: #7B1C21;
    

}
.navbar-list {
    display: flex;
    height: 100%;

}
.navbar-list li a {
    color: #fff;
    text-decoration: none;
    line-height: 64px;
    padding: 0 22px;
    font-weight: 500;
    font-size: 15px;
    
}
 .navbar-home-img {
    width: 64px;
    height: 100%;
    position: relative;
    border-bottom: 4px solid var(--white-color);

}

.collection-img-first {
    position: absolute;
    top: 18px;
    left: 17px;
    width: 30px;
    height: 12px;

    }
.collection-img-second {
    width: 22px;
    height: 14px;
    position: absolute;
    top: 32px;
    left: 21px;

    }
.collection-img-third {
    width: 6px;
    height: 8px;
    position: absolute;
    top: 38px;
    left: 29px;


    }
.navbar-list li {
    list-style: none;
}
.navbar-arrow-down {
    /* width: 9.33px;
    height: 4.67px; */
    font-size: 0.933rem;

}
#content {


}
/* CSS INTRODUCE */
.introduce {
    width: 816px;
    height: 460px;
    position: relative;
}
.introduce-content {
    position: absolute;
    top: 316px;
    left: 32px;
    width: 511px;
    height: 112px;
    color: #fff;

}
.introduce-view-content {
    margin-top: 16px;
    margin-right: 32px;
    width: 181.61px;
    height: 16px;
    font-size: 1.2rem;
}
.view-separate-text {
    padding: 0 8px;
}
.introduce-view-number {
    padding-left: 4px;
}
.introduce-view-time {
    padding-left: 4px;
}
.introduce-heading {
    font-weight: bold;
    font-size: 3.2rem;
    line-height: 40px;
}
.frame-973 {
    padding-top: 24px;
}
.frame-964 {
    
    margin-top: 16px;
}
.news-expand {
    width: 400px;
    height: 204px;
    margin-top: 19px;

}
.label-1 {
    font-weight: 500;
    font-size: 10px;
    line-height: 24px;
    background: #1990FF;
    border-radius: 4px;
    height: 24px;
    width: 77px;
    display: block;
    color: var(--white-color);
    text-align: center;
}
.label-2 {
    font-weight: 500;
    font-size: 10px;
    line-height: 24px;
    background: #30CD60;;
    border-radius: 4px;
    height: 24px;
    width: 51px;
    text-align: center;
    display: block;
    color: var(--white-color);
    /* Nếu dùng flexbox thì như dưới */
    /* display: flex;
    align-items: center;
    justify-content: center; */

}

.label-heading {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 28px;
    margin-top: 8px;

}
.label-content {
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: var(--secondary-color);
    margin-top: 8px;
}
/* CSS NEWS */
.news-container {
    
}
.news {
    padding: 16px;
    border: 1px solid #E4E5F0;
    border-radius: 8px;
    
}
.news-heading {
    font-size: 2rem;
    line-height: 28px;
    color: var(--title-color);
}
.news-list {
   list-style: none;

}
.news-item:last-child {
    box-shadow: none;
}
.news-item {
    display: flex;
    margin-top: 16px;
    box-shadow: inset 0px -1px 0px #E4E5F0;
}
.news-text {
    padding-bottom: 16px;
}
.news-text-title {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 20px;
    color: var(--primary-color);
}
.news-item-img {
    width: 64px;
    height: 64px;
    margin-left: 12px;
}
.news-time {
    display: block;
    font-size: 1.2rem;
    line-height: 16px;
    color: var(--placeholder-color);
}
/* CSS Event */
.event-container {
    width: 816px;
height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.event-heading {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 32px;
    color: var(--main-color);
}
.event-link {
    font-size: 1.5rem;
    color: var(--main-color);
    text-decoration: none;
}
.event-expand-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    font-size: 1.2rem;
}
.event-detail {
    margin-top: 16px;
}
.separate-border {
    /* box-shadow: inset 0px -1px 0px #E4E5F0; */
    border-top: 1px solid #E4E5F0;
    width: 100%;
    margin: 40px 0;
}

.event-text-container {
    margin-top: 16px;
    width: 344px;
    height: 100px;
}
.event-title {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: var(--main-color);
}
.event-subtitle {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #171821;
    margin-top: 8px;
}
.event-info {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: var(--placeholder-color);
    margin-top: 8px;

}

.guide-content {
    padding: 16px;
    border: 1px solid #E4E5F0;
    border-radius: 8px;
    
}
.guide-heading {
    font-size: 2rem;
    line-height: 28px;
    color: var(--title-color);
}
.guide-list {
    list-style: none;
 
 }
 .guide-list-item:last-child {
     box-shadow: none;
 }
 .guide-list-item {
     display: flex;
     margin-top: 16px;
     /* box-shadow: inset 0px -1px 0px #E4E5F0; */
     width: 344px;
    height: 48px;   
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    justify-content: space-between;
    align-items: center;
 }
 .guide-list-item-separate {
    border-top: 1px solid #E4E5F0;
    width: 100%;
    margin: 12px 0;
 }


/* CSS chart */
.row-chart {
    margin-left: -12px;
    margin-right: -12px;
    display: flex;
    flex: wrap;
}
.col-chart-6 {
    padding-left: 12px;
    padding-right: 12px;
    width: 50%;
}
.chart-heading {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 32px;
    color: var(--main-color);
}

.chart-container {
    margin-top: 24px;
}
.char-name {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #171821;
    margin-top: 24px;
}


.chart-time {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: var(--placeholder-color);
    margin-top: 8px;
}
/* CSS Investment figure */
.investment-figrure-container {
    width: 1232px;
    height: 160px;
    margin: 40px 0;
}
.investment-figure-heading {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 20px;
    color: var(--main-color);
    
}
.investment-tag {
    width: 83px;
    height: 36px;
    margin: 8px 0;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 36px;
    background: #F8F8FC;
    border-radius: 4px;
    text-align: center;
}
.investment-list-month {
    list-style: none;
    display: flex;
    margin: 16px 0;
    width: 1232px;
    height: 20px;
    align-items: center;

    }
.investment-month {
    font-size: 15px;
    line-height: 20px;
    margin: 0 12px;
    color:var(--secondary-color);
}
.investment-month:first-child {
    text-decoration-line: underline;
    color: var(--primary-color);
}
.investment-list-year {
    list-style: none;
    display: flex;

    
}
.investment-year {
    font-weight: 500;
    font-size: 15px;
    line-height: 36px;
    width: 83px;
    height: 36px;
    align-items: center;
    background: #F8F8FC;
    border-radius: 4px;
    color: #54555E;
    margin: 0 6px;

}
.ref-info {
    width: 1440px;
    height: 288px;
    margin-top: 40px;
}
.ref-info-container {
    width: 1232px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 16px;
}
.ref-info-heading {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 32px;
    color: var(--main-color);

}
.ref-info-link {
    font-size: 1.5rem;
    line-height: 20px;
    color: var(--main-color);
    text-decoration: none;
}
.ref-info-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    font-size: 1.2rem;
}
.ref-info-detail {
    width: 1232px;
    height: 160px;
}
.ref-info-col-4 {
    padding-left: 8px;
    padding-right: 8px;
    width: 25%;
}
.ref-info-img {
    width: 296px;
    height:160px;
    position: relative;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 64.47%)
}
.ref-info-content {
    position: absolute;
    top: 84px;
    left: 12px;
    width: 272px;
    height: 40px;
    color: var(--white-color);
}
.ref-info-title {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: var(--white-color);
}
.ref-info-view-content {
    margin-top: 8px;
    margin-right: 12px;
    width: 181.61px;
    height: 16px;
    font-size: 1.2rem;
}
.ref-info-number {
    padding-left: 4px;
}
.ref-info-time {
    padding-left: 4px;


}
/* CSS Sponsor */
.sponsor-info {
    width: 1232px;
    height: 184px;
}
.sponsor-heading-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sponsor-title {
    width: 103px;
    height: 32px;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 32px;
    color: var(--main-color);
}
.sponsor-detail {
    list-style: none;
    display: flex;
    width: 1232px;
    height: 72px;
    margin: 16px 0;
}
.sponsor-icon {
    display: flex;
    
}
.sponsor-icon-left {
    width: 28px;
    height: 30px;
    background: #F8F8FC;
    border-radius: 5px;
    margin-right: 4px;
    align-items: center;
    align-items: center;
}
.sponsor-icon-right {
    width: 28px;
    height: 30px;
    background: #F8F8FC;
    border-radius: 5px;
    margin-left: 4px;
    align-items: center;
    align-items: center;
}
.sponsor-img {
    width: 80px;
    height: 72px;
    background: #FBFBFD;
    border: 1px solid #EDEDED;
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.sponsor-img:first-child {
    margin-left: 0;
}
.sponsor-img:last-child {
    margin-right: 0;
}
.navbar-bot-container {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    background-color: var(--main-color);
}
.navbar-bot-content {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 40px;
    color: #FBFBFD;
    text-align: right;
    
}
#footer {

}
/* .header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
} */
.footer-first-part {
    width: 456px;
    height: 64px;
    display: flex;
    align-items: center;
    margin: 24px auto 24px 0;
}

.footer-title-body {
    width: 382px;
    height: 58px;
    margin-left: 10px;

}

.footer-title-webname {
    color: var(--title-color);
}
.footer-content {
    display: flex;
    align-items: center;
}
.footer-sencond-part {
    width: 121px;
    height: 48px;

}
